# Native macOS arm64 environment closure; Python 3.10.12. See docs/reproduction.md.
absl-py==2.5.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
cloudpickle==3.1.2
contourpy==1.3.2
cryptography==50.0.2
cycler==0.12.1
filelock==4.0.7
fonttools==4.65.0
fsspec==2026.9.0
google-auth==2.59.1
google-auth-oauthlib==1.0.0
grpcio==1.48.2
gym==0.26.2
gym-notices==0.1.0
idna==3.20
jinja2==3.1.6
kiwisolver==1.5.1
markdown==3.10.3
markupsafe==3.0.3
matplotlib==3.7.5
mlagents-envs==1.1.0
mpmath==1.3.0
networkx==3.4.2
numpy==1.23.5
oauthlib==4.0.0
packaging==26.3
pettingzoo==1.15.0
pillow==12.3.0
protobuf==3.20.3
pyasn1==0.6.4
pyasn1-modules==0.4.2
pycparser==3.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pyyaml==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
setuptools==70.3.0
six==1.17.0
sympy==1.14.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
torch==2.2.2
typing-extensions==4.16.0
urllib3==2.8.0
werkzeug==3.1.9
wheel==0.48.0
